.Layout {
    height: 100vh;              // доступ экрана 100% по высоте
    display: flex;              
    flex-direction: column;     // чтобы в колонке выстроить внутренние элементы
    & main {
        color: rgb(192, 192, 192);
        display: flex;  
        flex-direction: column;
        flex-grow: 1;           // чтобы занимал всю доступную высоту
    }
}